@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	padding:0px;
	width:720px;
	height:576px;
	background: no-repeat url(../img/localPurchase/102-1.png);
	font-size:22px;
	font-family:"SimHei";
	color: #FFF;
}

.info{
	width: 350px;
	height: 35px;
	position: absolute;
	left: 43px;
	top: 33px;
}
.info-content {
	width:55px;
	height:35px;
	float:left;
	margin-left:8px;
}
.topbar{width:720px;height:75px;position: absolute;left: 0px;top: 0px;}
.info .item{font-weight: bold;color: #FFFFFF;font-size: 26px;}

.header {width: 720px;height: 75px;}

.clock {width: 250px;height: 70px;position: absolute;left: 420px;top: 0px;font-size: 16px;text-align: right;}
#week{position: absolute;left: 0px;top: 30px;height: 16px;font-size:18px;width:140px;text-align:right;line-height:16px;}
#YMD{position: absolute;top: 50px;left: 0px;font-size:18px;text-align: right;width: 140px;height: 16px;line-height:16px;}
#HM {position: absolute;left: 140px;text-align: center;font-weight: bold;font-size: 38px;color: #FFFFFF;height: 42px;width: 118px;top: 25px;line-height:42px;}

.items_div1{
	position:absolute;
	left:51px;
	top:94px;
	width:288px;
	height:385px;
}
.item_div1_n{
	width:130px;
	height:176px;
}
.item_div1_n img{
	width:130px;
	height:176px;
}
.item_div1{
	width:140px;
	height:190px;
	float:left;
}
.item_div1 img{
	width:140px;
	height:190px;
}

.items_div2{
	position:absolute;
	left:339px;
	top:94px;
	width:339px;
	height:385px;
	/*background:no-repeat url(../img/localPurchase/img_5_.png);*/
}
.footbar{
    width:646px;
	height:54px;
    position:absolute;
    left:42px;
	top:500px;
	font-family:"SimHei";
	font-size:18px;
	color:#FFFFFF;
}
.footbar img{
	width:646px;
	height:54px;
}
.telphone{
	position:absolute;
	left:32px; 
	top:25px;
}
.notice{
	width:500px; height:40px;
    position:absolute;
    left:133px;
	top:8px;
    overflow:hidden;
    color:#FFFFFF;
    font-size:30px;
	text-align:center;
}

.button{
	width:177px;
	height:135px;
	float:left;
	margin-left: 25px;
}