html, body, div, p, span, img, a, ol, ul, li, table, caption, thead, tbody, tfoot, th, td, tr {margin: 0;padding: 0;}
ul {list-style: none;}

body {font-size: 18px;font-family:"SimHei";color:#FFF;width: 720px;height: 576px;background-repeat: no-repeat;background: no-repeat url(../img/allOrder/105-1.png)}

.info{width: 500px;height: 35px;position: absolute;left: 43px;top: 33px;}
.topbar{width:720px;height:75px;position: absolute;left: 0px;top: 0px;}
.info .item{font-weight: normal;color: #FFFFFF;font-size: 26px;}

.header {width: 720px;height: 75px;}

.clock {width: 250px;height: 70px;position: absolute;left: 420px;top: 0px;font-size: 16px;text-align: right;}
#week{position: absolute;left: 0px;top: 30px;height: 16px;font-size:18px;width:140px;text-align:right;line-height:16px;}
#YMD{position: absolute;top: 50px;left: 0px;font-size:18px;text-align: right;width: 140px;height: 16px;line-height:16px;}
#HM {position: absolute;left: 140px;text-align: center;font-weight: normal;font-size: 38px;color: #FFFFFF;height: 42px;width: 118px;top: 25px;line-height:42px;}

.iconContainer{width:637px;height:384px;left:43px;top:91px;position:absolute;font-size:22px;background:url(../img/allOrder/img_caidan.png) no-repeat;}
.menu{width:637px;height:46px;left:0px;position:absolute;text-align:center;}
.menu #img_order_hig{position: absolute;top:0;left:1px;width:238px;height:57px;display: none;}
.menu-item{
	width:126px;
	height:46px;
	/*float:left;*/
	position:absolute;
	font-size:18px;
}
.menu-item span{
	position:relative;
	top:15px;
}
.m-page{width:637px;height:46px;position:absolute;left:0px;top:46px;}
.m-page .page{width:43px;height:28px;position:absolute;top:9px;}
.m-page .page img{
	width:43px;
	height:28px;
}
.m-page #btn_endp_hig{width:69px;height:62px;position:absolute;top:6px;left:95px;display:none;}
.m-page span{width:46px;height:33px;left:8px;top:9px;position:relative;}
.order{width:614px;height:280px;top:92px;position:absolute;left:11px;background:url(../img/returnOrder/img_dingdanxiangqing.png);font-family: "SimHei";font-size:18px;color:#000000;}
.order-detail{width:614px;height:242px;top:38px;position:relative;float:left;font-size:18px;}
#btn_canceldetail_hig{width:110px;position:absolute;left:885px;top:12px;}
.order-detail table{width: 100%;height:50%;border-collapse:collapse;}
.order-detail table, td, th{text-align:center;border:solid 0px gray;}
/*.order-detail tr{width:100%;height:120px;}*/
.order-detail .order_btn{width:90px;height:94px;line-height: 94px;float: left;}
.order-detail .order-item{width:1165px;height:94px;float:left;text-align:center;}
.order-detail .order-info{width:395px;float:left;}
.order-detail .icon{width:130px;float:left;text-align:left;margin-top:5px;}
.order-detail .desc{height:84px;width:150px;float:left;text-align:left;margin-top:5px;}
.order-detail .icon img{height:95px;width:130px;margin-left:1px;}
.order-detail .business{width:160px;float:left;line-height:94px;}
.order-detail .price{width:164px;float:left;margin-top:25px;}

.order-detail .order-state{width:168px;float:left;margin-top:0px;white-space:nowrap;padding-bottom:25px;;padding-top:25px;}
.order-detail .order-operation{
	width:140px;
	height:32px;
	margin-left:3px;
	text-align:center;
}

.order-operation-img{
	width:117px;
	height:24px;
	/*position:relative;
	left:7px;
	top:6px;
	margin-left:10px;
	margin-top:6px;*/
}

/**退换货详情页页面start */
.return-goods{width:1165px;height:326px;top:122px;position:absolute;left:14px;background:url(../img/returnOrder/img_kuang.png);font-family: "SimHei";font-size:20px;font-weight:normal;color:#000000;}
.return-goods .order-detail{width:1165px;height:281px;top:45px;position:relative;float:left;}

.return-goods.order-detail table{width: 100%;height:100%;border-collapse:collapse;}
.return-goods .order-detail table, td, th{text-align:center;border:solid 0px gray;}
.return-goods .order-detail tr{width:100%;height:94px;}

.return-goods .order-detail .order-item{width:1165px;height:94px;float:left;text-align:center;}
.return-goods .order-detail .order-info{width:549px;float:left;}
.return-goods .order-detail .icon{width:140px;float:left;text-align:center;}
.return-goods .order-detail .desc{height:84px;width:409px;float:left;text-align:left;margin-top:10px;}
.return-goods .order-detail img{height:80px;width:140px;margin-left:2px;margin-top:10px;}
.return-goods .order-detail .business{width:160px;float:left;line-height:94px;}
.return-goods .order-detail .price{width:164px;float:left;margin-top:25px;}

.return-goods .order-detail .order-state{width:168px;float:left;margin-top:0px;white-space:nowrap;padding-bottom:25px;;padding-top:25px;}
/*.return-goods .order-detail .order-operation{width:277px;float:left;line-height:94px;}*/
/**退换货详情页页面stop */

/** 退换货页面 start*/
.left{
	width:305px;
	height:313px;
	position:absolute;
	top:57px;
	left:7px;
	background:url(../img/returnOrderImpl/img_dingdanxiangqing.png) no-repeat;
	border-right:1px solid #8E8E8E;
	border-left:1px solid #8E8E8E;
	border-bottom:1px solid #8E8E8E;
	color:#0A0A0A;
	font-family: "SimHei";
	font-size:18px;
}

.goods-icon{
	width:121px;
	height:121px;
	margin-top:41px;
	margin-left:95px;
}
.goods-icon img{
	width:121px;
	height:121px;
}
.goods-detail{
	width:305px;
	height:142px;
	margin-top:10px;
}
.goods-detail .price{
	width:140px;
	height:20px;
	margin-top:10px;
	margin-left:15px;
	float:left;
	color:#F00;
}
.goods-detail .num{
	width:130px;
	height:20px;
	float:left;
	margin-top:10px;
	line-height:20px;
	text-align:right;
}
.goods-detail .detail{
	height:45px;
	width:280px;
	float:left;
	margin-top:10px;
	margin-left:15px;
}
.right{
	width:305px;
	height:313px;
	position:absolute;
	top:57px;
	left:320px;
	/*background:url(../img/returnOrderImpl/img_tuihuanhuo1.png) no-repeat;*/
	border-right:1px solid #8E8E8E;
	border-left:1px solid #8E8E8E;
	border-bottom:1px solid #8E8E8E;
	font-family: "SimHei";
	color:#0A0A0A;
}
.toggle{
	width:305px;
	height:63px;
}

.toggle .exchange{
	width:153px;
	height:36px;
	position:absolute;
	left:0px;
}
.toggle .exchange img{
	width:153px;
	height:36px;
}
.toggle .return{
	width:153px;
	height:36px;
	position:absolute;
	left:153px;
	text-align:right;
}
.toggle .return img{
	width:152px;
	height:36px;
}
.exchange-reason{
	width:305px;
	height:250px;
	position:absolute;
	top:63px;
	font-family:"SimHei";
	font-size:20px;
}
.submit-num{
	width:305px;
	height:32px;
	position:absolute;
	top:25px;
}
.num-dsc1{
	width:105px;
	height:30px;
	float:left;
	text-align:right;
}

.num-dsc2{
	width:160px;
	height:30px;
	float:left;
	margin-left:10px;
	border:1px solid #000000;
	z-index:10000;
	/*background:url(../img/returnOrderImpl/wtms.png) no-repeat;*/
}
.No{
	width:160px;
	height:30px;
	float:left;
	text-align:center;
}
.Down{
	width:30px;
	height:30px;
	float:left;
}

.Down img{
	width:21px;
	height:18px;
}
.Down-image{
	width:24px;
	height:21px;
	position:relative;
	left:5px;
	top:5px;
	background:url(../img/returnOrderImpl/btn_pulldown_nor.png) no-repeat;
	/*border:1px solid #0a0a0a;*/
}
.submit-reason{
	width:305px;
	height:125px;
	position:absolute;
	top:60px;
	/*border:1px solid #D1182F;*/
}
.reason-dsc1{
	width:176px;
	height:30px;
	margin-left:10px;
	float:left;
}
.Round{
	width:20px;
	height:20px;
	margin-top:10px;
	float:left;
	
}
.Round img{
	width:15px;
	height:15px;
}
.Dsc1{
	width:140px;
	height:30px;
	float:left;
}
.submit-btn{
	width:305px;
	height:36px;
	position:absolute;
	top:185px;
}
.submit-btn img{
	width:94px;
	height:36px;
}
/** 退换货页面 stop*/

.footer{width: 720px;height: 86px;position: absolute;left: 0px;top: 476px;}
.button{float:left;margin-left: 8px;}
.button img{width:97px;height:70px;}	
.btnFocus{
	width:97px;
	height:70px;
	position:absolute;
	left:50px;
	top:485px;
}
.btnFocus img{
	width:97px;
	height:70px;
}

.num-show {
	position:absolute;
	width:161px;
	height:96px;
	top:268px;
	left:478px;
	font-family: "SimHei";
    font-size: 20px;
	color:#0A0A0A;
	display:none;
}
.num-show-item {
	width:161px;
	height:32px;
	background-color:#C9C9C9;
	border-bottom:1px solid #000000;
}
